<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassForge</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='style/style.css') }}"
    />
</head>
<body>
    <div class="label">PassForge Web</div>
    <div class="form">
        <div class="radio-group">
            <div class="form-radio">
                <input type="radio" id="symbols" name="type" value="symbols">
                <label for="symbols">Symbols</label><br>
                <input type="radio" id="numbers" name="type" value="numbers">
                <label for="numbers">Numbers</label><br>
                <input type="radio" id="custom" name="type">
                <input type="text" id="customField" name="type" placeholder="Custom Character Set">
            </div>
            <div class="form-radio-len">
                <input type="radio" id="passlen12" name="length" value="12" checked>
                <label for="length">12</label><br>
                <input type="radio" id="passlen16" name="length" value="16">
                <label for="length">16</label><br>
            </div>
        </div>
        <p id="password">Generated Password</p>
        <button onclick="generate()">Generate</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>