<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassForge</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='style/style.css') }}"
    />
</head>
<body>
    <div class="label">PassForge Web</div>
    <div class="form">
        <div class="form-radio">
            <input type="radio" id="symbols" name="type" value="symbols">
            <label for="symbols">Symbols</label><br>
            <input type="radio" id="numbers" name="type" value="numbers">
            <label for="numbers">Numbers</label><br>
        </div>
        <p id="password"></p>
        <button onclick="generate()">Generate</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>